.jumbotron.city{
	background: url('../img/city2.jpg');
	background-size: 100%
	background-repeat: no-repeat;

}

.jumbotron{
	padding: 10%;

}
h1.textStroke{
	text-shadow: 2px 2px 3px #2b3e50;
}

h3.textStroke{
	text-shadow: 1px 1px 1px #2b3e50;
}
h3{
	padding-left: 40px;
}

.spacerR{
	margin-right:6px;
}
.spacerL{
	margin-left:6px;
}

.sidebar{
	/*border: 4px solid red;
	padding: 1%;*/

}

.sidebar-head{
	margin: 0 0 10px 0;

}

.item-container{
	max-height: 408px;
	overflow: auto;

}

.sidebar-item .bizName{
	font-size: 120%;

}

.sidebar-item .bizCategory{
	color: #fff; 
	font-style: bold;
	/*#2B3E50*/

}
.bizAddress{
	font-size: 80%;
	font-style: italic;
	color:#DF691A;
}

.bizAddress a{
	color:#DF691A;
}

.corners{
	border-radius: 0px;

}
.roundCorners{
	border-radius: 8px;

}

.yelpbtn{
/*	position:relative;
	right:100%;*/
	align:right;

}

.hide{
	visibility: hidden;
}

footer{
	padding:10px;
	text-align: right;

}