.jumbotron.city{
	background: url('../img/city2.jpg');
	background-size: 100%
	background-repeat: no-repeat;

}

.jumbotron{
	padding: 10%;

}
h1.textStroke{
	text-shadow: 2px 2px 3px #2b3e50;
}

h3.textStroke{
	text-shadow: 1px 1px 1px #2b3e50;
}

.spacerR{
	margin-right:6px;
}
.spacerL{
	margin-left:6px;
}

.sidebar{
	/*border: 4px solid red;
	padding: 1%;*/
	overflow: auto;
}

.sidebar-item .bizName{
	font-size: 120%;

}

.sidebar-item .bizCategory{
	color: #2B3E50;

}
.sidebar-item .bizAddress{
	font-size: 80%;
}

.map{
	/*border: 4px solid red;
	padding: 1%;*/

}

.sidebar-head{
/*	position: absolute;*/


}
.yelpbtn{
/*	position:relative;
	right:100%;*/
	align:right;

}

.hide{
	visibility: hidden;
}

footer{
	padding:10px;
	text-align: right;

}