<head>

    <title>Meet Me Halfway</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="../static/css/style2.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/img/coffee1.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>
<a name='toTop'></a>
<body>

{% if error==True %}

    <div class="alert alert-warning alert-dismissible" style='margin:10px;' role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Sorry!</strong> {{ errormsg }}
    </div>

{% endif %}
    <div class='main'>
    <div class='jumbotron city'>
              
        <h1 class='textStroke'><small><span class='glyphicon glyphicon-cutlery spacerR'></span></small>Meet Me Halfway </h1>
        <h3 class='textStroke'>Find a great food place that works for you and your date!  </h3>
    
<!-- location form input-group-->
        
        <form action='/find#bottom' method='POST' class="">
          <div class='row'>
            <div class='col-md-4'>
                <input type="text" class='form-control' name="location1" placeholder="Your Location(street, city or zip)">
            </div>
            <div class='col-md-4'>
                <input type="text" class='form-control' name="location2" placeholder="Their Location (street, city or zip)">
            </div>
            <div class='col-md-3'>
                <select class='form-control' id='select' name='foodtype'>
                    <option value='breakfast_brunch'>Breakfast/Brunch</option>
                    <option value='restaurants'>Lunch/Dinner</option>
                    <option value='coffee'>Coffee/Tea</option>
                    <option value='desserts'>Dessert</option>
                    <option value='bars'>Bar</option>
                </select>

            </div>
            <div class='col-md-1'>
                <a href='#placeResults'><button class="showBtn btn btn-primary roundCorners" type="submit"><strong>GO!</strong></button></a>
            </div>
          </div>

        </form><!-- /input-group -->

    </div><!-- /jumbotron -->
    </div><!--/main-->

    <!--map container- hidden with .hide class until location submitted -->
    <a name='bottom'></a>
    {% if started_search==True %}
    <div class='container mapcontainer'>
        <div class='row'>
            <div class='col-md-4 list-group sidebar'>
                <div class='sidebar-head'>
                    <h3>Places
                        <img class ='yelpbtn' src='../static/img/yelp.png'></img>
                        
                        <form action='/more#bottom' method='POST' style='display:inline; margin:0;'>
                            <button class="roundCorners spacerL btn btn-info btn-sm" type="submit"><strong>Find More!</strong></button>
                        </form>
                        
                    </h3>
                </div>
                <div class='item-container'>
                    <ol>
                        {% for b in list_of_obj %}
                            <li class='sidebar-item list-group-item'>
                                <a href={{ b.mobile_url }}>
                                <span class='bizName'>{{ b.name }}</span> 
                                <span class='spacerR spacerL glyphicon glyphicon-new-window'></span>
                            </a>
                            <div class='bizCategory'>{{ b.category }}</div>

                            <div class='bizAddress'>{{ b.address }} 
                                <a href='https://www.google.com/maps/dir/{{ loc1 }}/{{ b.address }} '><div class='directions'> [Directions]</div></a>
                            </div>
                                
                            </li>

                        {% endfor %}

                    </ol> 
                </div>
            </div>
            <div class='col-md-8' id='map-canvas'></div>
        </div>
    </div>
    {% endif %}
    
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>  //main.js script
        $( document ).ready(function(){

        console.log('=======document is now ready!!!!!======');

              $( ".item-container li" ).on( "click", function() {
                console.log('click event');
                $(".item-container li").removeClass( "active" );
                $( this ).addClass( "active" );

                //li has a corresponding marker and the below changes that marker's color
                //marker.setIcon('https://www.google.com/mapfiles/marker_orange.png');
              });

              function initialize() {

                  var myLatlng = new google.maps.LatLng( {{ midxy }} );
                  var mapOptions = {
                    zoom: 10,
                    center: myLatlng
                  };
                  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                  var marker = new google.maps.Marker({
                          position: new google.maps.LatLng({{ longlat1 }}),
                          map: map,
                          title: 'loc1',
                          icon:'https://www.google.com/mapfiles/marker_black.png'
                        });

                  var marker = new google.maps.Marker({
                          position: new google.maps.LatLng({{ longlat2 }}),
                          map: map,
                          title: 'loc2',
                          icon:'https://www.google.com/mapfiles/marker_black.png'
                        });

                  {% for b in list_of_obj %}
                        var marker = new google.maps.Marker({
                          position: new google.maps.LatLng({{ b.latlong }}),
                          map: map,
                          title: '{{b.name}}',
                          icon:'https://www.google.com/mapfiles/marker_yellow.png'
                        });

                  {% endfor%}
              }

              google.maps.event.addDomListener(window, 'load', initialize);


// marker.setIcon('https://www.google.com/mapfiles/marker_orange.png');

         }) //document-ready close
    </script>
    <a name='bottom'></a>


</body>

<footer>
    <span class='right' id='footerSig'><a href='http://www.github.com/ssstrieu'>Samantha Trieu - Hackbright Academy Final Project 2015</a></span>
</footer>
