<head>

    <title>Meet Me Halfway</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="../static/css/style2.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="../static/img/coffee1.ico">

	


			<nav class="navbar navbar-default" style='margin:0;'>
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Home</a>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class=""><a href="#">About <span class="sr-only">(current)</span></a></li>
                      <li><a href="#">Share</a></li>
                    </ul>
                  </div>
                </div>
              </nav>	


</head>

<body>
	<div class='jumbotron city'>
		<!--  github ribbon 
		<a href="https://github.com/ssstrieu"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a> -->

		<div class="container">
		<h1 class='textStroke'><small><span class='glyphicon glyphicon-glass spacerR'></span></small>Meet Me Halfway </h1>
		<h3 class='textStroke'>Find a great food place that works for you and your date!  </h3>
	
<!-- location form input-group-->
		
	    <form action='/find' method='POST' class="">
	      <div class='row'>
	      	<div class='col-md-4'>
	      		<input type="text" class='form-control' name="location1" placeholder="Your Location">
	      	</div>
	      	<div class='col-md-4'>
	      		<input type="text" class='form-control' name="location2" placeholder="Their Location">
	      	</div>
	      	 <div class='col-md-3'>
		        <select class='form-control' id='select' name='foodtype'>
		        	<option value='breakfast_brunch'>Breakfast/Brunch</option>
		        	<option value='restaurants'>Lunch/Dinner</option>
		        	<option value='coffee'>Coffee/Tea</option>
		        	<option value='desserts'>Dessert</option>
		        	<option value='bars'>Bar</option>
		        </select>

		    </div>
	      	 <div class='col-md-1'>
		        <button class="btn btn-primary" type="submit"><strong>GO!</strong></button>
		    </div>
	      </div>

	      <!-- <span class="input-group-btn"> -->

	      <!-- </span> -->
	    </form><!-- /input-group -->
	  </div><!-- /container -->
	</div><!-- /jumbotron -->


	<!-- <form action="/music" method="POST">
        <input type="text" name="location1" placeholder="Your Location">
        <input type="text" name="location2" placeholder="Their Location">
        <input class="button-primary" type="submit" value="Go!">
	</form> -->




	<!--map container- hidden with .hide class until location submitted -->
	<div class='container'>
		<div class='row'>
			<div class='col-md-4 list-group sidebar'>
				<div class='sidebar-head'>
					<h3>Places<!-- <span class='btn btn-info btn-sm' style='margin:0 0 0 6px'>More!</span> --> 
						<img class ='yelpbtn' src='../static/img/yelp.png'></img>
						<!-- <form action='/find' method='GET' class="">
							<button class="spacerL btn btn-info btn-sm" type='submit'>More!</button>
						</form> -->
					</h3>
				</div>

				<ul>
					{% for b in list_of_obj %}
						<li class='sidebar-item list-group-item'>
							<a href={{ b.mobile_url }}>
							<span class='bizName'>{{ b.name }}</span> 
							<span class='spacerR spacerL glyphicon glyphicon-new-window'></span>
						</a>
						<div class='bizCategory'>{{ b.category }}</div>
						<div class='bizAddress'>{{ b.address }}</div>
						</li>

					{% endfor %}




					<!-- <li class='sidebar-item list-group-item'>
						<a href='http://m.yelp.com/biz/crossroads-cafe-san-francisco-7'>
							<span class='bizName'>Crossroads Cafe</span>
							<span class='spacerR spacerL glyphicon glyphicon-new-window'></span>
						</a>
						<div class='bizCategory'>Coffee & Tea, Sandwiches, Bagels</div>
						<div class='bizAddress'>699 Delancey St, SoMa, San Francisco, CA 94107</div>
					</li>
					<li class='sidebar-item list-group-item'>
						<a href='http://m.yelp.com/biz/crossroads-cafe-san-francisco-7'>
							<span class='bizName'>Crossroads Cafe</span>
							<span class='spacerR spacerL glyphicon glyphicon-new-window'></span>
						</a>
						<div class='bizCategory'>Coffee & Tea, Sandwiches, Bagels</div>
						<div class='bizAddress'>699 Delancey St, SoMa, San Francisco, CA 94107</div>
					</li>
					<li class='sidebar-item list-group-item'>
						<a href='http://m.yelp.com/biz/crossroads-cafe-san-francisco-7'>
							<span class='bizName'>Crossroads Cafe</span>
							<span class='spacerR spacerL glyphicon glyphicon-new-window'></span>
						</a>
						<div class='bizCategory'>Coffee & Tea, Sandwiches, Bagels</div>
						<div class='bizAddress'>699 Delancey St, SoMa, San Francisco, CA 94107</div>
					</li>
					<li class='sidebar-item list-group-item'>
						<a href='http://m.yelp.com/biz/crossroads-cafe-san-francisco-7'>
							<span class='bizName'>Crossroads Cafe</span>
							<span class='spacerR spacerL glyphicon glyphicon-new-window'></span>
						</a>
						<div class='bizCategory'>Coffee & Tea, Sandwiches, Bagels</div>
						<div class='bizAddress'>699 Delancey St, SoMa, San Francisco, CA 94107</div>
					</li>
					<li class='sidebar-item list-group-item'>
						<a href='http://m.yelp.com/biz/crossroads-cafe-san-francisco-7'>
							<span class='bizName'>Crossroads Cafe</span>
							<span class='spacerR spacerL glyphicon glyphicon-new-window'></span>
						</a>
						<div class='bizCategory'>Coffee & Tea, Sandwiches, Bagels</div>
						<div class='bizAddress'>699 Delancey St, SoMa, San Francisco, CA 94107</div>
					</li>-->

					
				</ul> 

			</div>
			<div class='col-md-8 map' id='googleMap'>
				<iframe width="100%" height="500px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=13&center=37.7785%2C-122.4056&key=AIzaSyAPyQ4vH8xfcrDI5lQ1DiTkaMvL-LP8_KU"></iframe>
			</div>
		</div>
	</div>

<!--code for directions
 	<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=San%20Francisco%20Airport%2C%20San%20Francisco%2C%20CA%2C%20United%20States&destination=Blue%20Bottle%20Coffee%2C%20Mint%20Plaza%2C%20San%20Francisco%2C%20CA%2C%20United%20States&key=AIzaSyAPyQ4vH8xfcrDI5lQ1DiTkaMvL-LP8_KU"></iframe> -->
	
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>

	
	<script src="http://maps.googleapis.com/maps/api/js"></script>

</body>
