<head>

    <title>Meet Me Halfway</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="../static/css/style2.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="../static/img/coffee1.ico">

<!--            <nav class="navbar navbar-default" style='margin:0;'>
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Home</a>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class=""><a href="#">About <span class="sr-only">(current)</span></a></li>
                      <li><a href="#">Share</a></li>
                    </ul>
                  </div>
                </div>
              </nav> -->    


</head>
<a name='toTop'></a>
<body>

{% if error==True %}

    <div class="alert alert-warning alert-dismissible" style='margin:10px;' role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Sorry!</strong> {{ errormsg }}
    </div>

{% endif %}

    <div class='jumbotron city'>
        <!--  github ribbon  
        <a href="https://github.com/ssstrieu"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a> -->

        <div class="container">
        <h1 class='textStroke'><small><span class='glyphicon glyphicon-glass spacerR'></span></small>Meet Me Halfway </h1>
        <h3 class='textStroke'>Find a great food place that works for you and your date!  </h3>
    
<!-- location form input-group-->
        
        <form action='/find' method='POST' class="">
          <div class='row'>
            <div class='col-md-4'>
                <input type="text" class='form-control' name="location1" placeholder="Your Location(street, city or zip)">
            </div>
            <div class='col-md-4'>
                <input type="text" class='form-control' name="location2" placeholder="Their Location (street, city or zip)">
            </div>
            <div class='col-md-3'>
                <select class='form-control' id='select' name='foodtype'>
                    <option value='breakfast_brunch'>Breakfast/Brunch</option>
                    <option value='restaurants'>Lunch/Dinner</option>
                    <option value='coffee'>Coffee/Tea</option>
                    <option value='desserts'>Dessert</option>
                    <option value='bars'>Bar</option>
                </select>

            </div>
            <div class='col-md-1'>
                <a href='#placeResults'><button class="showBtn btn btn-primary roundCorners" type="submit"><strong>GO!</strong></button></a>
            </div>
          </div>

        </form><!-- /input-group -->
      </div><!-- /container -->
    </div><!-- /jumbotron -->

    <!--map container- hidden with .hide class until location submitted -->
    <a name='placeResults'></a>
    {% if started_search==True %}
    <div class='container mapcontainer'>
        <div class='row'>
            <div class='col-md-4 list-group sidebar'>
                <div class='sidebar-head'>
                    <h3>Places
                        <img class ='yelpbtn' src='../static/img/yelp.png'></img>
                        
                        <form action='/more' method='POST' style='display:inline; margin:0;'>
                            <button class="roundCorners spacerL btn btn-info btn-sm" type="submit"><strong>Find More!</strong></button>
                        </form>
                        
                    </h3>
                </div>
                <div class='item-container'>
                    <ol>
                        {% for b in list_of_obj %}
                            <li class='sidebar-item list-group-item'>
                                <a href={{ b.mobile_url }}>
                                <span class='bizName'>{{ b.name }}</span> 
                                <span class='spacerR spacerL glyphicon glyphicon-new-window'></span>
                            </a>
                            <div class='bizCategory'>{{ b.category }}</div>

                            <div class='bizAddress'>{{ b.address }} 
                                <a href='https://www.google.com/maps/dir/{{ loc1 }}/{{ b.address }} '><div> [Directions]</div></a>
                            </div>
                                
                            </li>

                        {% endfor %}

                    </ol> 
                </div>
            </div>
            <div class='col-md-8' id='map-canvas' style=' min-height:450px;'></div>
        </div>
    </div>
    {% endif %}
    
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <!-- <script src="../static/js/epoly.js" type="text/javascript"> </script> -->




    <script> <!-- main.js script -->
        $( document ).ready(function(){
        console.log('=======document is now ready!!!!!======');
  
              function initialize() {

                  var myLatlng = new google.maps.LatLng( {{ midxy }} );
                  var mapOptions = {
                    zoom: 10,
                    center: myLatlng
                  };
                  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                  {% for b in list_of_obj %}
                        var marker = new google.maps.Marker({
                          position: new google.maps.LatLng({{ b.latlong }}),
                          map: map,
                          title: '{{b.name}}'
                        });

                  {% endfor%}
                
            }
              google.maps.event.addDomListener(window, 'load', initialize);

         }) //document-ready close
    </script>

</body>
<footer>
    <a href='http://www.github.com/ssstrieu'>Made by Samantha Trieu for Hackbright Part-time Class: Fullstack Final Project 2015</a>
</footer>
